<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../styles/about-us.css" />
    <title>Hive</title>
</head>

<body class="body-bg">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img class="logo-hive" src="../assets/png/hive.png" alt="Logo de Hive" />
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Inicio <span class="sr-only"></span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="login.html">Entrar</a>
                </li>

            </ul>
        </div>
    </nav>

    <main>
        <div class="bg-h1">
            <h1>Quienes somos</h1>
        </div>

        <div class="container">
            <div class="space">
                <div class="card mb-3 card-margin border-0">
                    <div class="row no-gutters">
                        <div class="col-md-4 text-card">
                            <img src="../assets/jpg/ricardo-romero.jpg" class="card-img" alt="Ricardo Romero" />
                        </div>

                        <div class="col-md-8 text-card">
                            <div class="card-body text-card">
                                <h3 class="card-title">Ricardo Romero Avila</h3>
                                <p class="card-text">Emprendedor, oriundo de Hermosillo, Sonora, México. Ricardo es
                                    Licenciado
                                    en
                                    Admiinstración de Empresas, lleva años deicandose a los negocios lucrativos sobre
                                    todo
                                    en
                                    las
                                    ramas de diseño y suministro de infraestructura de redes y telecomunicaciones.</p>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="card mb-3 card-margin border-0">
                    <div class="row no-gutters">

                        <div class="col-md-8 text-card">
                            <div class="card-body text-card">
                                <h3 class="card-title">Iliana Wong</h3>
                                <p class="card-text">Originaria de Hermosillo, Sonora, Iliana es Licenciada en Negocios
                                    y Comercio Internacional y Traductora de profesión. Buscando mejorar su desarrollo
                                    profesional, se ha adentrado al mundo de la programación y ciencia de los datos.</p>
                            </div>
                        </div>

                        <div class="col-md-4 text-card">
                            <img src="../assets/jpg/ileana-wong.jpg" class="card-img" alt="Iliana Wong" />
                        </div>
                    </div>
                </div>

                <div class="card mb-3 card-margin border-0">
                    <div class="row no-gutters">
                        <div class="col-md-4 text-card">
                            <img src="../assets/png/alba-jofre.png" class="card-img" alt="Alba Jofre" />
                        </div>

                        <div class="col-md-8 text-card">
                            <div class="card-body text-card">
                                <h3 class="card-title">Alba Jofre</h3>
                                <p class="card-text">Nacida en Torreón y asentada en la CDMX. Comunicologa de profesión,
                                    ha
                                    buscado diferentes maneras de desarrollar su profesión y ahora es através de la
                                    técnologia, el Internet y los unos y ceros.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <div class="copyright">
            <p>Copyright © 2020 HIVE </p>
        </div>
    </footer>

</body>

</html>