<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/login.css">
    <title>Log In</title>
</head>

<body class="pagebg">
        <main class="container-fluid">
            <form class="form">
                <div class="card col-12">
                    <a class= "logo" href="../index.html"><img class="logo" src="../assets/hive.png" alt="hive"></a>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo Electrónico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Ingresa tu Correo Electrónico">
                        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu información personal con alguien más.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingresa tu Contraseña">
                    </div>
                    <div>
                        <a href="passwordrecovery.html">Olvidé mi contraseña</a>
                    </div>
                    <button type="submit" class="btn btn-primary">Acceder a HIVE</button>
                    <br>
                    <p class="registro">No te has registrado? <a href="signup.html">Registrate Aquí</a></p>
                </div>
            </form>
        </main>
    