<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/perfil_usuario.css">
    <title>Mi Perfil</title>
</head>
<body class="pagebg">
    <nav class="navbar navbar-expand-lg navbar-light whiteback move-rigth container">

        <a class="navbar-brand" href="#">
            <img src="../assets/hive.png" width="150" height="93" alt="Logo de Hive">
        </a>

        <div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item border border-ligth rounded button-margin">
                        <a class="nav-link" href="#">¿Tienes un proyecto?</a>
                    </li>

                    <li class="nav-item border border-ligth rounded button-margin">
                        <a class="nav-link" href="#">¿Quieres trabajar?</a>
                    </li>

                    <li class="nav-item active border border-dark rounded button-margin">
                        <a class="nav-link" href="#">Entrar<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
</body>
</html>