<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

    <link rel="stylesheet" href="../styles/referencias-empresa.css" />

    <title>Ofertas HIVE</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/index.html"><img src="../assets/HIVE.png" alt="" srcset="" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Quienes Somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Buscar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Concursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Publicar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login
                            <!-- Perfil --></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Registrarse
                            <!-- Mensajes --></a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li> -->
                </ul>
            </div>
        </nav>
    </header>

    <main class="head">
        <div class="main-titulo container">
            <div class="titulo">
                <p>Ofertas Disponibles</p>
            </div>

            <div class="botones-sesion">
                <button type="button" class="btn btn-primary">Quiero Trabajo</button>
                <button type="button" class="btn btn-primary">Quiero Contratar</button>

            </div>
        </div>
    </main>

    <section class="main-container container">
        <div class="buscador-filtro col-lg-3">
            <div>
                <div class="card filtro">
                    <div class="card-body">
                        <h3>Filtro</h3>
                        <!-- Pendiente modificacion de contenido -->
                        <a href="#">About</a>
                        <a href="#">Services</a>
                        <a href="#">Clients</a>
                        <a href="#">Contact</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="ofertas-empresa">
            <div class="ofertas col-lg-9">
                <div class="caja">
                    <div class="card tarjeta-vacante">
                        <div class="card-body">
                            <div class="primera-mitad">
                                <div class="main-info">
                                    <div class="main-puntos">
                                        <div class="titulo-puesto">
                                            <h5>Full Stack Developer</h5>
                                        </div>
                                        <div class="subs-compañia">
                                            <div class="nombre-compañia">
                                                <a href="">DEV.F</a>
                                            </div>
                                            <div class="duracion">
                                                <p>Proyecto</p>
                                            </div>
                                            <div class="ubicacion">
                                                <p>Sonora, Mexico</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main-contador">
                                        <div class="contador">

                                        </div>
                                        <div class="compensacion">
                                            Por Definir
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="segunda-mitad">
                                <div class="caja-descripcion">
                                    <p>Estamos buscando un programador web que quiera emprender esta aventura junto a
                                        nosotros, que sea capaz de aportar ideas y aprender nuevas tecnologías.</p>
                                </div>
                                <div class="habilidades">
                                    <a href="">PHP</a>
                                    <a href="">Python</a>
                                    <a href="">HTML/CSS</a>
                                    <a href="">Java Script</a>
                                    <a href="">Git</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="ofertas col-lg-9">
                <div class="caja">
                    <div class="card tarjeta-vacante">
                        <div class="card-body">
                            <div class="primera-mitad">
                                <div class="main-info">
                                    <div class="main-puntos">
                                        <div class="titulo-puesto">
                                            <h5>Full Stack Developer</h5>
                                        </div>
                                        <div class="subs-compañia">
                                            <div class="nombre-compañia">
                                                <a href="">DEV.F</a>
                                            </div>
                                            <div class="duracion">
                                                <p>Proyecto</p>
                                            </div>
                                            <div class="ubicacion">
                                                <p>Sonora, Mexico</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main-contador">
                                        <div class="contador">

                                        </div>
                                        <div class="compensacion">
                                            Por Definir
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="segunda-mitad">
                                <div class="caja-descripcion">
                                    <p>Estamos buscando un programador web que quiera emprender esta aventura junto a
                                        nosotros, que sea capaz de aportar ideas y aprender nuevas tecnologías.</p>
                                </div>
                                <div class="habilidades">
                                    <a href="">PHP</a>
                                    <a href="">Python</a>
                                    <a href="">HTML/CSS</a>
                                    <a href="">Java Script</a>
                                    <a href="">Git</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="ofertas col-lg-9">
                <div class="caja">
                    <div class="card tarjeta-vacante">
                        <div class="card-body">
                            <div class="primera-mitad">
                                <div class="main-info">
                                    <div class="main-puntos">
                                        <div class="titulo-puesto">
                                            <h5>Full Stack Developer</h5>
                                        </div>
                                        <div class="subs-compañia">
                                            <div class="nombre-compañia">
                                                <a href="">DEV.F</a>
                                            </div>
                                            <div class="duracion">
                                                <p>Proyecto</p>
                                            </div>
                                            <div class="ubicacion">
                                                <p>Sonora, Mexico</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main-contador">
                                        <div class="contador">

                                        </div>
                                        <div class="compensacion">
                                            Por Definir
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="segunda-mitad">
                                <div class="caja-descripcion">
                                    <p>Estamos buscando un programador web que quiera emprender esta aventura junto a
                                        nosotros, que sea capaz de aportar ideas y aprender nuevas tecnologías.</p>
                                </div>
                                <div class="habilidades">
                                    <a href="">PHP</a>
                                    <a href="">Python</a>
                                    <a href="">HTML/CSS</a>
                                    <a href="">Java Script</a>
                                    <a href="">Git</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>


    <footer>
        <div class="copyright">
            <p>Copyright © 2020 HIVE </p>
        </div>
    </footer>

</body>

</html>