<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="../styles/signup.css" />
    <title>Regístrate</title>
</head>

<body class="pagebg">
    <main class="container-fluid">
        <div class="card col-12">
            <a class="logo" href="../index.html"><img class="logo" src="../assets/png/hive.png" alt="hive"></a>
            <form>
                <div class="form-group">
                    <label class="label" for="username1">Nombre de Usuario</label>
                    <input type="text" name="name" class="form-control" id="username1" aria-describedby="usuario"
                        placeholder="Ingresa Nombre de Usuario">
                    <label class="label" name="email" for="exampleInputEmail1">Correo Electrónico</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Ingresa Correo Electrónico">
                    <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu información
                        personal.</small>
                </div>
                <div class="form-group">
                    <label class="label" for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"
                        placeholder="Ingresa Contraseña">
                    <label class="label" for="exampleInputPassword1">Confirma Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"
                        placeholder="Confirma Contraseña">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Acepto los <a href="useragreemnt.html">Términos
                            y condiciones</a> y <a href="privacypolicy.html">Politicas de Privacidad
                        </a>de HIVE</label>
                </div>
                <div class="textoli">
                    <button type="submit" value="send" class="btn btn-primary text-center">Regístrate a HIVE</button>
                    <p class="ingresa">¿Ya tienes cuenta? <a href="login.html">Ingresa Aquí</a></p>
                </div>
            </form>
        </div>
    </main>








</body>

</html>