.pagebg {
    background-image: url(../assets/png/bg.png);
    width: 100%;
    background-size: cover; 
}

img {
    justify-self: right;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.87);
    width: 100%;
}

.navbar img {
    height: 100px;
}

.pitexto {
    justify-self: center; 
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgba(114,118,121, 0.815);
    text-align: center;
  
}

#sidebar {
    
    background: rgba(114,118,121, 0.815);
    color: #fff;
    transition: all 0.3s;
    
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
    font-size: 1.7em;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.5em;
    display: block;
    padding-bottom: 50px;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

.mainpage {
    display: flex;
    flex-direction: row;
}

.container-fluid {
    display:grid;
    grid-template-columns: 1fr 1fr .5fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(auto, auto);
    padding: 2em;
}

.container-fluid div {
    background: rgb(238, 238, 238, 0.20);
    
}

.textcolor {
    color: white;
}

.usuario {
 text-align: center;
}


